.hidden.menu {
    display: none;
}

.ui.text.container {
    max-width: 80% !important;
}

.masthead.segment {
    min-height: 100vh;
    padding: 1em 0em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.map {
    width: 55%;
    height: 800px;
    float: left;
}

.worldmap {
    height: 800px;
}

#predict-form {
    margin-top: 100px;
}

#predit-button {
    margin-top: 30px;
}

.prediction-chart {
    margin-top: 20px;
}

#distribution-chart {
    float: left;
}

.leaflet-popup-content {
    color: black;
}

.chart-container{
    width:45%;
    height: 800px;
    float: right;
}

.housing-chart{
    width: 50%;
    height: 50%;
    float: left;
    background-color: orange;
}

.covid-chart{
    width: 50%;
    height: 50%;
    /* position: relative;
    left: 50%;
    top: 0%; */
    float: right;
}

.emotion-display{
    width: 50%;
    height: 50%;
    float: left;
    background-color: navy;
}

.city-discription{
    width: 50%;
    height: 50%;
    float: right;
    background-color: gray;
}
